@font-face {
    font-family: "Nexa";
    src: url(../font/Nexa_Light.otf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat.ttf);
}

@font-face {
    font-family: "Garamont";
    src: url(../font/Garamont.otf);
}

/*html{
    background-image: url(../img/boceto-Cirugia-01.jpg);
    background-repeat: no-repeat;
    background-position: -2px 8px;
}*/
a {
    font-family: "Nexa", "Arial";
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #000;
    text-decoration: underline;
}
a:visited{
    color: #000;
}



nav {
    height: 110px;
    width: 1300px;
    position: relative;
    border-bottom: 1px solid #003C31;;
}

div.logo {

    
    height: 80px;
    width: 613px;
    margin: 10px 20px 0px 16px;
    position: absolute;
    display: inline-block;
}

img.logo {
    height: 80px;
    padding-right: 280px;

}

.inicio {
    padding: 30px 10px 10px 10px;
    height: 40px;
    width: 63px;
    margin: 10px 10px 0px 10px;
    position: absolute;
    left: 642px;
    display: inline-block;
    text-align: center;
}

.servicios {
    padding: 30px 10px 10px 10px;
    height: 40px;
    width: 169px;
    margin: 10px 10px 0px 10px;
    position: absolute;
    left: 747px;
    text-align: center;
    display: block;
    z-index: 1;
}

.contacto {
    padding: 30px 10px 10px 10px;
    
    height: 40px;
    width: 169px;
    position: absolute;
    margin: 10px 10px 0px 10px;
    top: 0;
    left: 960px;
    display: inline-block;
    text-align: center;
    
}

a.menu{
    display: none;
    width: 100px;
    background-color: #000;
    padding: 20px 10px 10px 10px;
    background-color: #fff;
    height: 40px;
    width: 169px;
    position: relative;
    top: 27px;
    left: -10px;
    text-align: center;
    z-index: 1;
    box-shadow: 1px 2px 3px #cecece;

}
.servicios:hover a.menu{
    display: block;
}
a.menu:hover{
   color: #fff;
   background-color: #003C31;
}
div.rs {
    height: 40px;
    width: 83px;
    position: absolute;
    margin: 10px 10px 0px 10px;
    left: 1171px;
    display: inline-block;
    padding: 20px 0px 20px 0px;
    top: 0;

}

img.rs {
    width: 27px;
    padding: 6px 27px 0px 0px;
}

/*Body*/

.Cuerpo {
    
    width: 1300px;
    height: 590px;
}



.VContenido {
    margin: 70px 0px 0px 0px;
    height: 280px;
    width: 508px;


}

div.img{
        width: 630px;
    
    
}
img.imgV{
    width: 900px;
    position: absolute;
    top: 80px;
    left: -110px;
    z-index: -1;
}
img.imgC{
    width: 900px;
    position: absolute;
    top: 80px;
    left: -50px;
    z-index: -1;
}
.Ccontenido {
    margin: 94px 0px 0px 0px;
    width: 189px;
    height: 94px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    text-align-last: left;
    line-height: 1.25;

}
.Ccontenido2 {
    margin: -97px 0px 0px 0px;
    width: 189px;
    height: 100px;
    font-size: 14px;
    left: 211px;
    position: relative;
    font-family: "Montserrat";
    line-height: 1.25;
    text-align: justify;
}
div.ctitulo{
   font-family: "Garamont", "Times New Roman";
    font-size: 18px;
    padding-bottom: 9px;
    color: #003C31;
}
div.titulo {
    height: 42px;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-family: "Garamont", "Times New Roman";
    color: #003C31;

}

.Contenido {
    font-family: "Montserrat";
    text-align: center;
    font-size: 18px;
    text-align: justify;
    
}


/*FOOTER*/

footer {
    background-color: #58595B;
    text-align: center;
    width: 1300px;
    height: 20px;
    padding: 12px 0px 5px 0px;
    width: 1300px;
    color: #fff;
    font-family: "Nexa", Arial;
    font-size: 11px;
    position: relative;
    
}

/*Princial*/
.PContenido {
    padding: 20px 20px 20px 20px;
    left: 30px;
    background-color: rgba(88, 88, 88, 0.71);
    height: 388px;
    width: 508px;
    position: relative;
}
.PContenido {
    left: 737px;
    position: relative;
    /*left:  739px;*/
    
}
article.Part1{
    width: 1285px;
    height: 428px;
    position: relative;
    
    background-image: url(../img/CD.jpg);
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: 10px;
    animation-name: des;
    animation-duration: 10s;
    animation-fill-mode: backwards;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;

    
}
@keyframes des{
    0%{background-image: url(../img/CD.jpg)}
    50%{background-image: url(../img/CD2.jpg)}
    100%{background-image: url(../img/CD3.jpg)}
}
article.Part2{
    height: 120px;
    position: relative;
    
}
.Pcont1{
    padding: 0 50px 0 123px;
    width: 189px;
    height: 94px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    text-align-last: left;
    line-height: 1.25;
    position: relative;
    display: inline-block;
}
.Pcont2{
    padding: 0 50px 0 124px;
    width: 189px;
    height: 94px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    text-align-last: left;
    line-height: 1.25;
    position: relative;
    display: inline-block;
}
.Pcont3{
    padding: 0 50px 0 133px;
    width: 189px;
    height: 94px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    text-align-last: left;
    line-height: 1.25;
    position: relative;
    display: inline-block;
}
h1.P {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-family: "Garamont", "Times New Roman";
    color: #003C31;
    position: relative;
    display: inline-block;

}
.PCont{
    top: 100px;
    font-family: "Montserrat";
    text-align: center;
    font-size: 18px;
    text-align: justify;
    position: relative;
    color: #fff;
}
div.Cont{
    width: 295px;
}
article.Cart {
    width: 508px;
    left: 653px;
    position: relative;
    
}

/*SHospital*/

article.Hart {
    width: 528px;
    left: 92px;
    position: relative;
    
}
.HContenido{
    padding: 0px 0px 0px 20px;
    left: 10px;
    color: #58595B;
    height: 388px;
    width: 500px;
    position: relative;
    top: 70px;
}
h1.H {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-family: "Garamont", "Times New Roman";
    color: #003C31;
}
h1.P {
    
    text-align: justify;
    
}
h1.Cir {
    margin: 0;
    text-align: left;
    font-size: 30px;
    font-family: "Garamont", "Times New Roman";
    color: #003C31;
    
}
img.imgH{
    width: 400px;
    position: absolute;
    top: 200px;
    left: 760px;
    z-index: -1;
}
.Conart{
    width: 508px;
    left: 439px;
    position: relative;
}
.Cont1{
    
    width: 289px;
    height: 94px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    text-align-last: left;
    line-height: 1.25;
    position: relative;
  
}
.Cont2{
    top: 84px;
    width: 289px;
    height: 94px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    text-align-last: left;
    line-height: 1.25;
    position: relative;
}
.Cont3{
    top: 168px;
    width: 289px;
    height: 94px;
    font-size: 14px;
    font-family: "Montserrat";
    text-align: justify;
    text-align-last: left;
    line-height: 1.25;
    position: relative;
}
article.ContArt{
    position: absolute;
    
    
    top: 205px;
    left: 130px
}
.CCont{
    font-family: "Montserrat";
    text-align: center;
    font-size: 18px;
    text-align: justify;
    width: 720px;
    
}